parameters:
	ignoreErrors:
		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Annotation\\\\Builder\\:\\:\\$name \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Annotation/Builder.php

		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/GraphQLDumpSchemaCommand.php

		-
			message: "#^Parameter \\#1 \\$name of method Overblog\\\\GraphQLBundle\\\\Request\\\\Executor\\:\\:getSchema\\(\\) expects string\\|null, array\\<string\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Command/ValidateCommand.php

		-
			message: "#^Parameter \\#2 \\$search of function array_key_exists expects array, array\\|null given\\.$#"
			count: 1
			path: src/Config/EnumTypeDefinition.php

		-
			message: "#^Call to an undefined method ReflectionClass\\|ReflectionClassConstant\\|ReflectionMethod\\|ReflectionProperty\\:\\:getAttributes\\(\\)\\.$#"
			count: 1
			path: src/Config/Parser/AttributeParser.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$description\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/DescriptionNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$directives\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/DirectiveNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$values\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/EnumNode.php

		-
			message: "#^Parameter \\#1 \\$node of static method Overblog\\\\GraphQLBundle\\\\Config\\\\Parser\\\\GraphQL\\\\ASTConverter\\\\FieldsNode\\:\\:toConfig\\(\\) expects GraphQL\\\\Language\\\\AST\\\\Node, object given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/FieldsNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$type\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\TypeNode\\:\\:\\$kind\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\TypeNode\\:\\:\\$name\\.$#"
			count: 1
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\TypeNode\\:\\:\\$type\\.$#"
			count: 2
			path: src/Config/Parser/GraphQL/ASTConverter/TypeNode.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQLParser.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/GraphQLParser.php

		-
			message: "#^Dead catch \\- Overblog\\\\GraphQLBundle\\\\Config\\\\Parser\\\\MetadataParser\\\\TypeGuesser\\\\TypeGuessingException is never thrown in the try block\\.$#"
			count: 3
			path: src/Config/Parser/MetadataParser/MetadataParser.php

		-
			message: "#^Offset 'class' does not exist on array\\|null\\.$#"
			count: 1
			path: src/Config/Parser/MetadataParser/MetadataParser.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_get_contents expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/MetadataParser/MetadataParser.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/MetadataParser/MetadataParser.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/MetadataParser/MetadataParser.php

		-
			message: "#^Parameter \\#1 \\$resource of class Symfony\\\\Component\\\\Config\\\\Resource\\\\FileResource constructor expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/YamlParser.php

		-
			message: "#^Parameter \\#1 \\$value of method Symfony\\\\Component\\\\Yaml\\\\Parser\\:\\:parse\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Config/Parser/YamlParser.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Config\\\\Processor\\\\BuilderProcessor\\:\\:getBuilder\\(\\) should return Overblog\\\\GraphQLBundle\\\\Definition\\\\Builder\\\\MappingInterface but returns object\\.$#"
			count: 1
			path: src/Config/Processor/BuilderProcessor.php

		-
			message: "#^Parameter \\#2 \\$values of method Symfony\\\\Component\\\\HttpFoundation\\\\ResponseHeaderBag\\:\\:set\\(\\) expects array\\<string\\>\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/GraphController.php

		-
			message: "#^Cannot call method getCollector\\(\\) on Symfony\\\\Component\\\\HttpKernel\\\\Profiler\\\\Profile\\|null\\.$#"
			count: 1
			path: src/Controller/ProfilerController.php

		-
			message: "#^Cannot call method hasCollector\\(\\) on Symfony\\\\Component\\\\HttpKernel\\\\Profiler\\\\Profile\\|null\\.$#"
			count: 1
			path: src/Controller/ProfilerController.php

		-
			message: "#^Cannot call method loadProfile\\(\\) on Symfony\\\\Component\\\\HttpKernel\\\\Profiler\\\\Profiler\\|null\\.$#"
			count: 1
			path: src/Controller/ProfilerController.php

		-
			message: "#^Parameter \\#1 \\$array of method Overblog\\\\GraphQLBundle\\\\Definition\\\\ArgumentInterface\\:\\:exchangeArray\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: src/Definition/ArgumentFactory.php

		-
			message: "#^Parameter \\#1 \\$alias of method Overblog\\\\GraphQLBundle\\\\Resolver\\\\TypeResolver\\:\\:resolve\\(\\) expects string, string\\|null given\\.$#"
			count: 3
			path: src/Definition/Builder/SchemaBuilder.php

		-
			message: "#^Parameter \\#2 \\$query of method Overblog\\\\GraphQLBundle\\\\Definition\\\\Builder\\\\SchemaBuilder\\:\\:buildSchemaArguments\\(\\) expects GraphQL\\\\Type\\\\Definition\\\\Type, GraphQL\\\\Type\\\\Definition\\\\Type\\|null given\\.$#"
			count: 1
			path: src/Definition/Builder/SchemaBuilder.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Definition\\\\Builder\\\\TypeFactory\\:\\:create\\(\\) should return GraphQL\\\\Type\\\\Definition\\\\Type but returns object\\.$#"
			count: 1
			path: src/Definition/Builder/TypeFactory.php

		-
			message: "#^Trying to invoke \\(callable\\(\\)\\: mixed\\)\\|null but it might not be a callable\\.$#"
			count: 1
			path: src/Definition/Type/ExtensibleSchema.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\{string\\|null, 'getAliases'\\} given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/AliasedPass.php

		-
			message: "#^Parameter \\#1 \\$object_or_string of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 2
			path: src/DependencyInjection/Compiler/AliasedPass.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\{'Overblog…'\\|'Overblog…'\\|'Overblog…'\\|'Overblog…', 'parse'\\|'preParse'\\} given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/ConfigParserPass.php

		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/ConfigParserPass.php

		-
			message: "#^Parameter \\#1 \\$object_or_string of function is_subclass_of expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/TaggedServiceMappingPass.php

		-
			message: "#^Parameter \\#3 \\$alias of method Overblog\\\\GraphQLBundle\\\\DependencyInjection\\\\Compiler\\\\TypeGeneratorPass\\:\\:setTypeServiceDefinition\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/DependencyInjection/Compiler/TypeGeneratorPass.php

		-
			message: "#^Parameter \\#1 \\$exception of method Overblog\\\\GraphQLBundle\\\\Error\\\\ExceptionConverterInterface\\:\\:convertException\\(\\) expects Throwable, Throwable\\|null given\\.$#"
			count: 1
			path: src/Error/ErrorHandler.php

		-
			message: "#^Parameter \\#2 \\$nodes of class GraphQL\\\\Error\\\\Error constructor expects GraphQL\\\\Language\\\\AST\\\\Node\\|\\(iterable\\<GraphQL\\\\Language\\\\AST\\\\Node\\>&Traversable\\)\\|null, array\\<GraphQL\\\\Language\\\\AST\\\\Node\\>\\|null given\\.$#"
			count: 1
			path: src/Error/ErrorHandler.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Error\\\\ExceptionConverter\\:\\:convertException\\(\\) should return Throwable but returns object\\.$#"
			count: 1
			path: src/Error/ExceptionConverter.php

		-
			message: "#^Array \\(array\\<Overblog\\\\GraphQLBundle\\\\Error\\\\UserError\\>\\) does not accept GraphQL\\\\Error\\\\UserError\\.$#"
			count: 1
			path: src/Error/UserErrors.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Error/UserErrors.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\ExpressionLanguage\\\\ExpressionFunction\\\\Security\\\\Helper\\:\\:getUser\\(\\) should return string\\|Stringable\\|Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null but returns object\\.$#"
			count: 1
			path: src/ExpressionLanguage/ExpressionFunction/Security/Helper.php

		-
			message: "#^Cannot use array destructuring on callable\\.$#"
			count: 1
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Offset 'validationGroups' on array\\{type\\: string, resolve\\?\\: string, description\\?\\: string, args\\?\\: array, complexity\\?\\: string, deprecatedReason\\?\\: string, validation\\?\\: array\\} on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Parameter \\#1 \\$str of function ltrim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Generator/TypeBuilder.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and Composer\\\\Autoload\\\\ClassLoader will always evaluate to false\\.$#"
			count: 1
			path: src/Generator/TypeGenerator.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$edges \\(array\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\) does not accept iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 1
			path: src/Relay/Connection/Output/Connection.php

		-
			message: "#^Possibly invalid array key type \\(array\\|string\\|null\\)\\.$#"
			count: 1
			path: src/Relay/Mutation/InputDefinition.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Relay\\\\Mutation\\\\MutationFieldDefinition\\:\\:cleanMutateAndGetPayload\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Relay/Mutation/MutationFieldDefinition.php

		-
			message: "#^Possibly invalid array key type \\(array\\|string\\|null\\)\\.$#"
			count: 1
			path: src/Relay/Mutation/PayloadDefinition.php

		-
			message: "#^Binary operation \"\\+\" between \\(array\\|null\\) and array\\{id\\: null, query\\: null, variables\\: null\\} results in an error\\.$#"
			count: 1
			path: src/Request/BatchParser.php

		-
			message: "#^Cannot access property \\$operation on GraphQL\\\\Language\\\\AST\\\\OperationDefinitionNode\\|null\\.$#"
			count: 1
			path: src/Resolver/AccessResolver.php

		-
			message: "#^Unsafe access to private constant Overblog\\\\GraphQLBundle\\\\Resolver\\\\FieldResolver\\:\\:PREFIXES through static\\:\\:\\.$#"
			count: 1
			path: src/Resolver/FieldResolver.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: src/Resolver/TypeResolver.php

		-
			message: "#^Parameter \\#1 \\$type of method Overblog\\\\GraphQLBundle\\\\Transformer\\\\ArgumentsTransformer\\:\\:populateObject\\(\\) expects GraphQL\\\\Type\\\\Definition\\\\Type, GraphQL\\\\Type\\\\Definition\\\\Type\\|null given\\.$#"
			count: 1
			path: src/Transformer/ArgumentsTransformer.php

		-
			message: "#^Array \\(array\\<Symfony\\\\Component\\\\Validator\\\\Mapping\\\\ClassMetadataInterface\\>\\) does not accept Symfony\\\\Component\\\\Validator\\\\Mapping\\\\MetadataInterface\\.$#"
			count: 1
			path: src/Validator/InputValidator.php

		-
			message: "#^Parameter \\#1 \\$translator of method Symfony\\\\Component\\\\Validator\\\\ValidatorBuilder\\:\\:setTranslator\\(\\) expects Symfony\\\\Component\\\\Translation\\\\TranslatorInterface, Symfony\\\\Contracts\\\\Translation\\\\TranslatorInterface given\\.$#"
			count: 1
			path: src/Validator/InputValidator.php

		-
			message: "#^Unsafe call to private method Overblog\\\\GraphQLBundle\\\\Validator\\\\InputValidator\\:\\:isListOfType\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Validator/InputValidator.php

		-
			message: "#^Parameter \\#3 \\$constraintValidatorFactory of class Overblog\\\\GraphQLBundle\\\\Validator\\\\InputValidator constructor expects Symfony\\\\Component\\\\Validator\\\\ConstraintValidatorFactoryInterface, Symfony\\\\Component\\\\Validator\\\\ConstraintValidatorFactoryInterface\\|null given\\.$#"
			count: 1
			path: src/Validator/InputValidatorFactory.php

		-
			message: "#^Array \\(array\\<Symfony\\\\Component\\\\Validator\\\\Mapping\\\\PropertyMetadata\\>\\) does not accept Overblog\\\\GraphQLBundle\\\\Validator\\\\Mapping\\\\PropertyMetadata\\.$#"
			count: 1
			path: src/Validator/Mapping/ObjectMetadata.php

		-
			message: "#^Call to an undefined method ReflectionMethod\\|ReflectionProperty\\:\\:getValue\\(\\)\\.$#"
			count: 1
			path: src/Validator/Mapping/PropertyMetadata.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/Config/Parser/AnnotationParserTest.php

		-
			message: "#^Cannot call method getMessage\\(\\) on Throwable\\|null\\.$#"
			count: 9
			path: tests/Config/Parser/MetadataParserTest.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/Config/Parser/TestCase.php

		-
			message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\Node\\:\\:\\$value\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Scalar/GalaxyCoordinates.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Tests\\\\Config\\\\Parser\\\\fixtures\\\\annotations\\\\Scalar\\\\GalaxyCoordinates\\:\\:parseLiteral\\(\\) should return DateTimeInterface but returns array\\<int, string\\>\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Scalar/GalaxyCoordinates.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Tests\\\\Config\\\\Parser\\\\fixtures\\\\annotations\\\\Scalar\\\\GalaxyCoordinates\\:\\:parseValue\\(\\) should return DateTimeInterface but returns array\\<int, string\\>\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Scalar/GalaxyCoordinates.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Config\\\\Parser\\\\fixtures\\\\annotations\\\\Type\\\\Animal\\:\\:\\$lives is unused\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Type/Animal.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Config\\\\Parser\\\\fixtures\\\\annotations\\\\Type\\\\Animal\\:\\:\\$name is unused\\.$#"
			count: 1
			path: tests/Config/Parser/fixtures/annotations/Type/Animal.php

		-
			message: "#^Parameter \\#1 \\$exceptionMap of class Overblog\\\\GraphQLBundle\\\\Error\\\\ExceptionConverter constructor expects array\\<string, string\\>, array\\<string, array\\<string\\>\\> given\\.$#"
			count: 1
			path: tests/Error/ExceptionConverterTest.php

		-
			message: "#^Trying to invoke \\(callable\\(\\)\\: mixed\\)\\|null but it might not be a callable\\.$#"
			count: 1
			path: tests/EventListener/TypeDecoratorListenerTest.php

		-
			message: "#^Call to method disableOriginalConstructor\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 1
			path: tests/ExpressionLanguage/ExpressionFunction/GraphQL/ArgumentsTest.php

		-
			message: "#^Parameter \\#2 \\$classesMap of class Overblog\\\\GraphQLBundle\\\\Transformer\\\\ArgumentsTransformer constructor expects array, array\\|null given\\.$#"
			count: 1
			path: tests/ExpressionLanguage/ExpressionFunction/GraphQL/ArgumentsTest.php

		-
			message: "#^Call to method getMock\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 4
			path: tests/ExpressionLanguage/ExpressionFunction/Security/GetUserTest.php

		-
			message: "#^Call to method disableOriginalConstructor\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 1
			path: tests/ExpressionLanguage/TestCase.php

		-
			message: "#^Call to method setMethods\\(\\) on an unknown class PHPUnit_Framework_MockObject_MockBuilder\\.$#"
			count: 1
			path: tests/ExpressionLanguage/TestCase.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{mixed, 'with'\\} given\\.$#"
			count: 1
			path: tests/ExpressionLanguage/TestCase.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/Functional/ArgumentWrapper/ArgumentWrapperTest.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/Functional/AutoConfigure/HelloWordTest.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpKernel\\\\KernelInterface\\:\\:isBooted\\(\\)\\.$#"
			count: 1
			path: tests/Functional/BootTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/CompileCommandTest.php

		-
			message: "#^Parameter \\#2 \\$string of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertMatchesRegularExpression\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/CompileCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/DebugCommandTest.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/Command/DebugCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/GraphDumpSchemaCommandTest.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 2
			path: tests/Functional/Command/GraphDumpSchemaCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Functional/Command/ValidateCommandTest.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Functional\\\\Command\\\\ValidateCommandTest\\:\\:\\$command \\(Overblog\\\\GraphQLBundle\\\\Command\\\\ValidateCommand\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Functional/Command/ValidateCommandTest.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 5
			path: tests/Functional/Controller/GraphControllerTest.php

		-
			message: "#^Parameter \\#3 \\$message of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) expects string, string\\|false given\\.$#"
			count: 5
			path: tests/Functional/Controller/GraphControllerTest.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/Functional/DefaultValue/DefaultValueTest.php

		-
			message: "#^Missing call to parent\\:\\:setUp\\(\\) method\\.$#"
			count: 1
			path: tests/Functional/DisableBuiltInMapping/DisableBuiltInMappingTest.php

		-
			message: "#^Method Overblog\\\\GraphQLBundle\\\\Tests\\\\Functional\\\\TestCase\\:\\:createKernel\\(\\) should return Symfony\\\\Component\\\\HttpKernel\\\\KernelInterface but returns object\\.$#"
			count: 1
			path: tests/Functional/TestCase.php

		-
			message: "#^Missing call to parent\\:\\:tearDown\\(\\) method\\.$#"
			count: 1
			path: tests/Functional/TestCase.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/TestCase.php

		-
			message: "#^Parameter \\#3 \\$message of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/TestCase.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Functional/Upload/UploadTest.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Functional\\\\Validator\\\\DummyEntity\\:\\:\\$string1 is never written, only read\\.$#"
			count: 1
			path: tests/Functional/Validator/DummyEntity.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Functional\\\\Validator\\\\DummyEntity\\:\\:\\$string2 is never written, only read\\.$#"
			count: 1
			path: tests/Functional/Validator/DummyEntity.php

		-
			message: "#^Property Overblog\\\\GraphQLBundle\\\\Tests\\\\Functional\\\\Validator\\\\DummyEntity\\:\\:\\$string3 is never written, only read\\.$#"
			count: 1
			path: tests/Functional/Validator/DummyEntity.php

		-
			message: "#^Cannot access offset mixed on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 2
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Cannot call method getEdges\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\ConnectionInterface\\|null\\.$#"
			count: 3
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Cannot call method getPageInfo\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\ConnectionInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Cannot call method getTotalCount\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\ConnectionInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\> given\\.$#"
			count: 1
			path: tests/Relay/Connection/AbstractConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 0 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 4
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 1 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 4
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 2 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 1
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Cannot access offset 3 on iterable\\<Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\>\\.$#"
			count: 1
			path: tests/Relay/Connection/ConnectionBuilderTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\:\\:\\$cursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\EdgeInterface\\:\\:\\$node\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to an undefined property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$extra\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$edges\\.$#"
			count: 2
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Connection\\:\\:\\$pageInfo\\.$#"
			count: 2
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Edge\\:\\:\\$cursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\Edge\\:\\:\\$node\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$endCursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$hasNextPage\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$hasPreviousPage\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Access to protected property Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\Output\\\\PageInfo\\:\\:\\$startCursor\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot access property \\$endCursor on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot access property \\$hasNextPage on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot access property \\$hasPreviousPage on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot access property \\$startCursor on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot call method getEndCursor\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot call method getHasNextPage\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot call method getHasPreviousPage\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot call method getStartCursor\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 1
			path: tests/Relay/Connection/Output/DeprecatedPropertyPublicAccessTraitTest.php

		-
			message: "#^Cannot call method getHasNextPage\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 9
			path: tests/Relay/Connection/PaginatorTest.php

		-
			message: "#^Cannot call method getHasPreviousPage\\(\\) on Overblog\\\\GraphQLBundle\\\\Relay\\\\Connection\\\\PageInfoInterface\\|null\\.$#"
			count: 8
			path: tests/Relay/Connection/PaginatorTest.php

		-
			message: "#^Parameter \\#2 \\$classesMap of class Overblog\\\\GraphQLBundle\\\\Transformer\\\\ArgumentsTransformer constructor expects array, array\\|null given\\.$#"
			count: 1
			path: tests/Transformer/ArgumentsTransformerTest.php

