includes:
    - phpstan-php-7.4-baseline.neon

parameters:
  phpVersion: 70400
  level: 8
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
